In [ ]:
#정수 7과 정수 3을 더한 결과를 구하는 파이썬 코드를 작성하세요.
print(7+3)

In [12]:
#주민등록번호 변수를 각각 연월일과 숫자로 나누어 출력하세요.
pin = "881120-1068234"
print('연월일 :'+pin[:6])
print('연도 : ' + pin[:2])
print('월 : ' + pin[2:4])
print('일 : ' + pin[4:6])
print(pin[7:])

연월일 :881120
연도 : 88
월 : 11
일 : 20
1068234

In [ ]:
#주어진 실수 3.1415를 소수점 두 번째 자리에서 반올림하는 파이썬 코드를 작성하세요.
a=3.1415
print(round(a)) # 소수점 첫번째 자리에서 반올림
print(round(a,0))
print(round(a,1)) # 소수점 두번째에서 반올림
print(round(a,2)) # 소수점 세번째에서 반올림
b = 4365.715
print(round(b,-1)) # 정수 첫번째에서 반올림 
print(round(b,-2)) # 정수 두번째에서 반올림

3
3.0
3.1
3.14
4370.0
4400.0

In [13]:
#변수 a를 a/b/c/d로 변환하여 출력하세요.
a = 'a:b:c:d'
print(a.replace(":","/"))

a/b/c/d

In [14]:
#주어진 문자열 'Hello, World!'에서 첫 번째 단어 'Hello'만 추출하는 파이썬 코드를 작성하세요.
a='Hello, World!'
print(a[0:5])

Hello

In [15]:
#아래의 a변수를 'Life is too short'문자열로 변환하여 출력해보세요.
a = ['Life','is','too','short']
print(" ".join(a))

Life is too short

In [16]:
#주어진 문자열 'Python'의 모든 문자를 대문자로 변환하는 파이썬 코드를 작성하세요.
a='Python'
print(a.upper())

PYTHON

In [ ]:
#주어진 리스트 [1, 2, 3, 4, 5]에서 첫 번째 원소와 마지막 원소를 교환하는 파이썬 코드를 작성하세요.
#자바, 파이썬 둘다 가능한 방식
a = [1, 2, 3, 4, 5]
temp = a[0]
a[0] = a[4]
a[4] = temp
print(a)
# 파이썬에서만 가능한 방식
a = [1, 2, 3, 4, 5]
a[0],a[4] = a[4],a[0]
print(a)

[5, 2, 3, 4, 1]
[5, 2, 3, 4, 1]

In [19]:
#주어진 리스트 [5, 2, 7, 1, 9]를 오름차순 정렬하는 파이썬 코드를 작성하세요.
a=[5, 2, 7, 1, 9]
a.sort()
print(a)

[1, 2, 5, 7, 9]

In [20]:
#주어진 리스트 [1,3,5,4,2]를 내림차순으로 정렬하는 파이썬 코드를 작성하세요.
a=[1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [21]:
#주어진 튜플 ('apple', 'banana', 'cherry')에서 첫 번째 원소 'apple'을 추출하는 파이썬 코드를 작성하세요.
a=('apple', 'banana', 'cherry')
print(a[0])

apple

In [24]:
#두 개의 튜플 (1, 2, 3)과 (4, 5, 6)을 병합하여 새로운 튜플 (1, 2, 3, 4, 5, 6)을 생성하는 파이썬 코드를 작성하세요.
a = (1, 2, 3)
b = (4, 5, 6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [25]:
#주어진 딕셔너리 {'apple': 3, 'banana': 5, 'cherry': 2}에서 'banana'의 값을 추출하는 파이썬 코드를 작성하세요.
a = {'apple': 3, 'banana': 5, 'cherry': 2}
print(a['banana'])

5

In [26]:
#주어진 딕셔너리 {'apple': 3, 'banana': 5, 'cherry': 2}에 'orange': 4를 추가하는 파이썬 코드를 작성하세요.
a = {'apple': 3, 'banana': 5, 'cherry': 2}
a['orange'] = 4
print(a)

{'apple': 3, 'banana': 5, 'cherry': 2, 'orange': 4}

In [27]:
# 주어진 두 집합 {1, 2, 3}과 {2, 3, 4}의 교집합을 구하는 파이썬 코드를 작성하세요.
a = {1, 2, 3}
b = {2, 3, 4}
print(a&b)
print(a.intersection(b))

{2, 3}
{2, 3}

In [30]:
# 주어진 두 불 값 True와 False를 AND 연산하는 파이썬 코드를 작성하세요.
a = True
b = False
print(a and b)
print(a or b)

False
True

In [ ]:
#아래의 a리스트에서 중복을 제거하여 출력해보세요.
a = [1,1,1,2,2,2,3,3,4,4,5]
a = set(a)
print(a)

{1, 2, 3, 4, 5}